In [1]:
!pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.11/site-packages (24.2)
Collecting pip
  Using cached pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Using cached pip-24.3.1-py3-none-any.whl (1.8 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.2
    Uninstalling pip-24.2:
      Successfully uninstalled pip-24.2
Successfully installed pip-24.3.1

In [2]:
!pip install plotly

Collecting plotly
  Using cached plotly-5.24.1-py3-none-any.whl.metadata (7.3 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Using cached tenacity-9.0.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from plotly) (23.2)
Using cached plotly-5.24.1-py3-none-any.whl (19.1 MB)
Using cached tenacity-9.0.0-py3-none-any.whl (28 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.24.1 tenacity-9.0.0

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')

%matplotlib inline

In [4]:
df = pd.read_csv(r'./data/cardekho_dataset.csv', index_col=[0])
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

### Data Cleaning
#### Handling Missing Values

In [6]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [7]:
df.drop('car_name', axis=1, inplace=True)
df.drop('brand', axis=1, inplace=True)

In [8]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [9]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [11]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [12]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))

cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))

discrete_features = [feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :', len(discrete_features))

continuous_features = [feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :', len(continuous_features))

Num of Numerical Features : 7
Num of Categorical Features : 4
Num of Discrete Features : 2
Num of Continuous Features : 5

In [13]:
from sklearn.model_selection import train_test_split

X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [14]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

### Feature Encoding & Scaling

In [15]:
len(df['model'].unique())

120

In [16]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [18]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [19]:
len(df['seller_type'].unique()), len(df['fuel_type'].unique()), len(df['transmission_type'].unique())

(3, 5, 2)

In [20]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type', 'transmission_type']

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
    ], remainder='passthrough'
)

In [21]:
X = preprocessor.fit_transform(X)

In [22]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((12328, 14), (3083, 14))

In [24]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.261053,0.319814,0.283541,-2.038093,1.753906,2.662498,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.793003,-1.339555,-0.883751,0.992261,-0.550880,-0.386028,-0.403022
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.244390,-1.339555,-0.961245,-0.168096,0.890331,3.274530,-0.403022
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.024131,0.319814,0.143045,-0.455788,0.020999,0.388902,-0.403022
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,1.315436,0.478051,0.157955,-0.554718,-0.504712,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12323,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.556082,0.319814,1.397111,0.256249,-0.456846,-0.274327,2.073444
12324,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.903133,1.647309,0.065551,-0.865749,0.214823,0.060778,-0.403022
12325,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.040794,0.319814,-0.690016,0.193916,-0.936610,-0.780708,-0.403022
12326,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,-1.339555,-0.786884,-0.263994,-0.554718,-0.435829,-0.403022
12327,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.051664,-1.339555,-0.496281,0.138775,-0.046168,0.061942,-0.403022

### Model Training & Model Selection

In [25]:
from sklearn.linear_model import LogisticRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [26]:
def evaluated_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [27]:
models = {
    "Linear Regression": LogisticRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Adaboost Regressor": AdaBoostRegressor()
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_rmse, model_train_r2 = evaluated_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluated_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])

    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------------')

    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))


    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 450227.8027
- Mean Absolute Error: 192239.2927
- R2 Score: 0.7501
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 478380.7554
- Mean Absolute Error: 210308.5063
- R2 Score: 0.6960
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 553855.6710
- Mean Absolute Error: 268099.2226
- R2 Score: 0.6218
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 502542.6696
- Mean Absolute Error: 279614.7461
- R2 Score: 0.6645
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 553856.3160
- Mean Absolute Error: 268059.8015
- R2 Score: 0.6218
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 502533.8230
- Mean Absolute Error: 279557.2169
- R2 Score: 0.6645
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 325885.9831
- Mean Absolute Error: 91430.9701
- R2 Score: 0.8691
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 253071.9428
- Mean Absolute Error: 112672.8917
- R2 Score: 0.9149
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 20797.2352
- Mean Absolute Error: 5164.8199
- R2 Score: 0.9995
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 300711.5770
- Mean Absolute Error: 123979.3680
- R2 Score: 0.8799
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 115993.1888
- Mean Absolute Error: 39783.5970
- R2 Score: 0.9834
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 224704.9286
- Mean Absolute Error: 101544.1402
- R2 Score: 0.9329
===================================


Adaboost Regressor
Model performance for Training set
- Root Mean Squared Error: 413146.2589
- Mean Absolute Error: 282724.5208
- R2 Score: 0.7895
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 456410.3736
- Mean Absolute Error: 303181.1794
- R2 Score: 0.7233
===================================

In [28]:
knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50]}

rf_params = {"max_depth": [5, 8, 15, None, 10],
            "max_features": [5, 7, "auto", 8],
            "min_samples_split": [2, 8, 15, 20],
            "n_estimators": [100, 200, 500, 1000]}

ada_params={
    "n_estimators":[50,60,70,80],
    "loss":['linear', 'square', 'exponential']
}

In [29]:
randomcv_models = [
    ("knn", KNeighborsRegressor(), knn_params),
    ("RF", RandomForestRegressor(), rf_params),
    ("Adaboost", AdaBoostRegressor(), ada_params)
]

In [30]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}

for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                               param_distributions=params,
                               n_iter=100,
                               cv=3,
                               verbose=2,
                               n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"----------------- Best Params for {model_name} -----------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
[CV] END .....................................n_neighbors=10; total time=   0.2s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=1000; total time=   9.9s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=200; total time=   2.1s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=200; total time=   2.0s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=500; total time=   3.9s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=500; total time=   4.1s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=1000; total time=  13.6s
[CV] END ......................................n_neighbors=3; total time=   0.1s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=1000; total time=  14.5s
[CV] END max_depth=8, max_features=5, min_samples_split=20, n_estimators=500; total time=   3.0s
[CV] END max_depth=None, max_features=7, min_samples_split=8, n_estimators=100; total time=   1.3s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=200; total time=   2.8s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.4s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=1000; total time=  14.3s
[CV] END ......................................n_neighbors=2; total time=   0.1s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=1000; total time=  10.2s
[CV] END max_depth=15, max_features=7, min_samples_split=20, n_estimators=200; total time=   2.3s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=1000; total time=   8.8s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.5s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=1000; total time=  14.7s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=200; total time=   3.4s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   7.1s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=500; total time=   4.1s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=  14.7s
[CV] END .....................................n_neighbors=10; total time=   0.2s
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=7, min_samples_split=8, n_estimators=1000; total time=   9.3s
[CV] END max_depth=5, max_features=8, min_samples_split=15, n_estimators=200; total time=   1.2s
[CV] END max_depth=5, max_features=8, min_samples_split=15, n_estimators=200; total time=   1.2s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=100; total time=   1.1s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=100; total time=   1.1s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.6s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.6s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=200; total time=   2.7s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=100; total time=   1.5s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.7s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=500; total time=   4.1s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=500; total time=   4.5s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=1000; total time=   8.1s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=200; total time=   2.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=100; total time=   0.0s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=1000; total time=   5.9s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=500; total time=   4.1s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=1000; total time=  14.7s
Fitting 3 folds for each of 12 candidates, totalling 36 fits
----------------- Best Params for knn -----------------
{'n_neighbors': 10}
----------------- Best Params for RF -----------------
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 7, 'max_depth': 15}
----------------- Best Params for Adaboost -----------------
{'n_estimators': 50, 'loss': 'linear'}

In [32]:
models = {
    "K-Neighbors Regressor": KNeighborsRegressor(n_neighbors=10, n_jobs=-1),
    "Random Forest Regressor": RandomForestRegressor(n_estimators= 200, min_samples_split= 2,
                                            max_features= 7, max_depth= 15),
    "Adaboost": AdaBoostRegressor(n_estimators=50, loss='linear')
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae, model_train_rmse, model_train_r2 = evaluated_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluated_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])

    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------------')

    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))


    print('='*35)
    print('\n')

K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 363465.6927
- Mean Absolute Error: 103489.6090
- R2 Score: 0.8371
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 263849.8119
- Mean Absolute Error: 117481.4548
- R2 Score: 0.9075
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 132315.4712
- Mean Absolute Error: 54321.4115
- R2 Score: 0.9784
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 210155.3929
- Mean Absolute Error: 97363.4432
- R2 Score: 0.9413
===================================


Adaboost
Model performance for Training set
- Root Mean Squared Error: 507090.8732
- Mean Absolute Error: 402334.8910
- R2 Score: 0.6829
----------------------------------------
Model performance for Test set
- Root Mean Squared Error: 579441.0484
- Mean Absolute Error: 426605.6810
- R2 Score: 0.5540
===================================


[CV] END .....................................n_neighbors=40; total time=   0.4s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=1000; total time=   7.4s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.9s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.9s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=200; total time=   2.1s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=200; total time=   2.3s
[CV] END max_depth=None, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_split=15, n_estimators=1000; total time=   0.0s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=500; total time=   2.7s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=500; total time=   5.9s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=500; total time=   5.7s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=100; total time=   1.3s
[CV] END max_depth=8, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.7s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=1000; total time=   5.3s
[CV] END max_depth=None, max_features=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END max_depth=15, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=2, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=200; total time=   3.3s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=100; total time=   0.4s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=1000; total time=   9.1s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   5.0s
[CV] END max_depth=5, max_features=7, min_samples_split=2, n_estimators=1000; total time=   5.3s
[CV] END max_depth=8, max_features=7, min_samples_split=2, n_estimators=1000; total time=   7.6s
[CV] END .......................loss=linear, n_estimators=80; total time=   0.3s
[CV] END .......................loss=square, n_estimators=70; total time=   0.6s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=200; total time=   3.4s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=None, max_features=7, min_samples_split=8, n_estimators=500; total time=   6.1s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.4s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   4.8s
[CV] END max_depth=5, max_features=7, min_samples_split=2, n_estimators=1000; total time=   5.2s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=500; total time=   2.9s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.5s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.5s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=200; total time=   3.0s
[CV] END .......................loss=linear, n_estimators=60; total time=   0.6s
[CV] END ..................loss=exponential, n_estimators=50; total time=   0.5s
[CV] END ......................................n_neighbors=3; total time=   0.1s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=1000; total time=  14.4s
[CV] END max_depth=8, max_features=5, min_samples_split=20, n_estimators=500; total time=   2.9s
[CV] END max_depth=8, max_features=5, min_samples_split=20, n_estimators=500; total time=   2.9s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=1000; total time=   7.1s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=200; total time=   2.3s
[CV] END max_depth=8, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.7s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=200; total time=   1.7s
[CV] END max_depth=10, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.7s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=1000; total time=  16.9s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.6s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=1000; total time=   4.3s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=  10.5s
[CV] END .......................loss=linear, n_estimators=50; total time=   0.5s
[CV] END .......................loss=square, n_estimators=80; total time=   0.7s
[CV] END .....................................n_neighbors=40; total time=   0.3s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=100; total time=   0.0s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=1000; total time=   8.5s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=100; total time=   0.9s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=500; total time=   3.5s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=1000; total time=   7.4s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=1000; total time=   7.5s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=100; total time=   1.4s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=200; total time=   1.7s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=1000; total time=   5.3s
[CV] END max_depth=None, max_features=8, min_samples_split=15, n_estimators=100; total time=   1.2s
[CV] END max_depth=None, max_features=8, min_samples_split=15, n_estimators=100; total time=   1.3s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=200; total time=   2.0s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=200; total time=   2.0s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=1000; total time=   5.7s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=1000; total time=   8.6s
[CV] END max_depth=15, max_features=5, min_samples_split=2, n_estimators=200; total time=   2.3s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=500; total time=   3.1s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=500; total time=   5.1s
[CV] END .......................loss=linear, n_estimators=60; total time=   0.4s
[CV] END .......................loss=square, n_estimators=80; total time=   0.7s
[CV] END .....................................n_neighbors=20; total time=   0.3s
[CV] END max_depth=10, max_features=auto, min_samples_split=20, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=7, min_samples_split=8, n_estimators=1000; total time=   9.0s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=500; total time=   3.6s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=500; total time=   3.6s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   4.2s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   4.3s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=500; total time=   4.0s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=200; total time=   1.7s
[CV] END max_depth=5, max_features=7, min_samples_split=20, n_estimators=1000; total time=   5.5s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=1000; total time=  16.9s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=200; total time=   1.6s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=500; total time=   4.2s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=500; total time=   3.0s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=500; total time=   5.0s
[CV] END .......................loss=linear, n_estimators=50; total time=   0.4s
[CV] END .......................loss=square, n_estimators=80; total time=   0.7s
[CV] END ......................................n_neighbors=2; total time=   0.1s
[CV] END .....................................n_neighbors=50; total time=   0.3s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=1000; total time=   7.1s
[CV] END max_depth=None, max_features=8, min_samples_split=8, n_estimators=1000; total time=  13.6s
[CV] END max_depth=10, max_features=5, min_samples_split=2, n_estimators=1000; total time=   7.2s
[CV] END max_depth=15, max_features=7, min_samples_split=2, n_estimators=100; total time=   1.4s
[CV] END max_depth=8, max_features=8, min_samples_split=8, n_estimators=200; total time=   1.6s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=500; total time=   8.4s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=200; total time=   1.9s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=500; total time=   2.6s
[CV] END max_depth=None, max_features=7, min_samples_split=8, n_estimators=500; total time=   6.1s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=500; total time=   4.9s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=1000; total time=   9.0s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=500; total time=   4.1s
[CV] END .......................loss=linear, n_estimators=70; total time=   0.6s
[CV] END ..................loss=exponential, n_estimators=60; total time=   0.5s
[CV] END .....................................n_neighbors=50; total time=   0.3s
[CV] END max_depth=10, max_features=7, min_samples_split=8, n_estimators=1000; total time=   9.1s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=100; total time=   1.1s
[CV] END max_depth=None, max_features=7, min_samples_split=20, n_estimators=200; total time=   2.2s
[CV] END max_depth=15, max_features=7, min_samples_split=8, n_estimators=100; total time=   1.2s
[CV] END max_depth=8, max_features=7, min_samples_split=20, n_estimators=1000; total time=   7.5s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=1000; total time=   5.2s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=500; total time=   5.9s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=1000; total time=   8.3s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.5s
[CV] END max_depth=5, max_features=5, min_samples_split=20, n_estimators=100; total time=   0.5s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   7.2s
[CV] END max_depth=8, max_features=8, min_samples_split=20, n_estimators=500; total time=   4.1s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=200; total time=   1.7s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=15, n_estimators=500; total time=   0.0s
[CV] END max_depth=10, max_features=7, min_samples_split=20, n_estimators=1000; total time=   8.7s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=100; total time=   0.5s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=500; total time=   4.2s
[CV] END .......................loss=linear, n_estimators=70; total time=   0.6s
[CV] END ..................loss=exponential, n_estimators=60; total time=   0.5s
[CV] END .....................................n_neighbors=10; total time=   0.2s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=1000; total time=   9.7s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=500; total time=   3.1s
[CV] END max_depth=8, max_features=5, min_samples_split=8, n_estimators=500; total time=   3.0s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=200; total time=   0.8s
[CV] END max_depth=10, max_features=7, min_samples_split=15, n_estimators=500; total time=   4.3s
[CV] END max_depth=5, max_features=7, min_samples_split=8, n_estimators=1000; total time=   5.4s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=200; total time=   2.4s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=200; total time=   1.7s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.5s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=500; total time=   8.6s
[CV] END max_depth=10, max_features=8, min_samples_split=15, n_estimators=200; total time=   2.0s
[CV] END max_depth=None, max_features=5, min_samples_split=2, n_estimators=500; total time=   7.0s
[CV] END max_depth=8, max_features=8, min_samples_split=15, n_estimators=1000; total time=   8.1s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=   9.9s
[CV] END .......................loss=linear, n_estimators=50; total time=   0.2s
[CV] END .......................loss=square, n_estimators=60; total time=   0.5s
[CV] END ..................loss=exponential, n_estimators=60; total time=   0.5s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=1000; total time=  17.0s
[CV] END max_depth=None, max_features=5, min_samples_split=20, n_estimators=500; total time=   4.2s
[CV] END max_depth=15, max_features=5, min_samples_split=2, n_estimators=200; total time=   2.3s
[CV] END max_depth=8, max_features=7, min_samples_split=2, n_estimators=1000; total time=   7.4s
[CV] END .......................loss=linear, n_estimators=60; total time=   0.2s
[CV] END .......................loss=square, n_estimators=60; total time=   0.5s
[CV] END ..................loss=exponential, n_estimators=70; total time=   0.6s
[CV] END .....................................n_neighbors=20; total time=   0.3s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=1000; total time=   0.0s
[CV] END max_depth=8, max_features=5, min_samples_split=15, n_estimators=200; total time=   1.2s
[CV] END max_depth=15, max_features=5, min_samples_split=20, n_estimators=1000; total time=   7.9s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=100; total time=   1.0s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=100; total time=   1.0s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=1000; total time=   8.2s
[CV] END max_depth=8, max_features=8, min_samples_split=2, n_estimators=1000; total time=   8.2s
[CV] END max_depth=15, max_features=8, min_samples_split=15, n_estimators=200; total time=   2.3s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=200; total time=   0.0s
[CV] END max_depth=10, max_features=auto, min_samples_split=8, n_estimators=200; total time=   0.0s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.5s
[CV] END max_depth=5, max_features=7, min_samples_split=15, n_estimators=100; total time=   0.5s
[CV] END max_depth=None, max_features=7, min_samples_split=2, n_estimators=500; total time=   8.7s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.4s
[CV] END max_depth=5, max_features=5, min_samples_split=2, n_estimators=100; total time=   0.4s
[CV] END max_depth=8, max_features=auto, min_samples_split=20, n_estimators=500; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=20, n_estimators=500; total time=   0.0s
[CV] END max_depth=8, max_features=auto, min_samples_split=20, n_estimators=500; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=1000; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=20, n_estimators=1000; total time=   0.0s
[CV] END max_depth=None, max_features=5, min_samples_split=8, n_estimators=200; total time=   2.1s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=100; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_split=8, n_estimators=100; total time=   0.0s
[CV] END max_depth=15, max_features=5, min_samples_split=8, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=8, min_samples_split=20, n_estimators=1000; total time=   6.0s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.4s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=100; total time=   0.4s
[CV] END max_depth=10, max_features=8, min_samples_split=20, n_estimators=100; total time=   0.9s
[CV] END max_depth=5, max_features=5, min_samples_split=15, n_estimators=1000; total time=   4.3s
[CV] END max_depth=10, max_features=8, min_samples_split=8, n_estimators=1000; total time=  10.0s
[CV] END max_depth=15, max_features=8, min_samples_split=2, n_estimators=200; total time=   2.6s
[CV] END .......................loss=linear, n_estimators=80; total time=   0.3s
[CV] END .......................loss=square, n_estimators=70; total time=   0.6s
[CV] END ..................loss=exponential, n_estimators=70; total time=   0.5s
[CV] END .....................................n_neighbors=40; total time=   0.3s
[CV] END max_depth=None, max_features=auto, min_samples_split=20, n_estimators=100; total time=   0.0s
[CV] END max_depth=10, max_features=5, min_samples_split=8, n_estimators=1000; total time=   7.3s
[CV] END max_depth=None, max_features=8, min_samples_split=8, n_estimators=1000; total time=  13.7s